<table class="table table-info table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User Type</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">phoneNo.</th>
        <th scope="col">Update</th>
        <th scope="col">Remove User</th>
      </tr>
    </thead>
    <tbody>
      <tr  class="table table-light" *ngFor="let user of users">
        <td>{{user.userId}}</td>
        <td>{{user.userType}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td><button (click)="updateUser(user.userId)" class="btn btn-info">Update</button></td>
        <td><button class="btn btn-danger" (click)="removeUser(user.userId)">Remove</button></td>

      </tr>
    </tbody>
  </table>
 
 