<!------ Include the above in your HEAD tag ---------->

<div id="container1" class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="../../assets/img_avatar2.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="userName" class="fadeIn second" name="userName" placeholder="user name">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
    <span>
      <!-- <a routerLink="/app-home" routerLinkActive="active"> -->
        <!-- <input type="submit" class="fadeIn fourth" value="Log In">   -->
        <button class=" btn btn-success" (click)="loginUser()" >Login</button>
      <!-- </a> -->
      <a routerLink="/add-user" routerLinkActive="active">
        <input type="submit" class="fadeIn fourth" value="Register">  
      </a>
    </span>
</form>


  </div>
</div>